/* HEADER*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFF;
  width: auto;
}

#site-title {
  display: none;
}

.lien-icone {
  display: flex;
  align-items: center;
  padding-left: 37px;
  padding-top: 31px;
  padding-bottom: 30px;
}

.nav-button{
  display: flex;
  flex-direction: row;
}

nav{
  display: flex;
  flex-direction: row;
  padding-top: 31px;
  padding-bottom: 30px;
}

.menu{
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-right: 60px;
  text-decoration: none;
  font-style: normal;
  color: #000;
  font-family: Syne;font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #000;
  font-family: Syne;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header {
  display: none;
}


.command-button {
  background: #DC9F96;
  width: 236px;
  height: 80px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* FORMULAIRE DE CONTACT */

.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 383px;
  color: black;
}

.form-label {
  margin-bottom: 13px;
  margin-top: 22px;
}
  
.form-contact input {
  border-radius: 7px;
  width: 383px;
  height: 71px;
  border: none;
}

textarea {
  border-radius: 7px;
  width: 383px;
  height: 237px;
  border: none;
}
  
.cta{
  margin-top: 24px;
  margin-bottom: 42px;
  padding-bottom: 30px;
}

.form-submit input[type='submit'] {
  display: flex;
  width: 198px;
  height: 55px;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #E0B9B4;
}

.form-submit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QUANTITE DES COMMANDES */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.quantity input {
  width: 51px !important;
  height: 56px !important;
  display: block;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0px 0px 4px !important;

}


/* FORMULAIRE DE COMMANDE */

.form-commande {
  display: flex;
  flex-direction: row;
  width: 860x;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 53px;
}

.form-commande h2 {
  color: #FFF !important;
  font-size: 30px !important;
  font-weight: 700 !important; 
  text-transform: none !important;
}

.form-commande label {
  color: #FFF;
  font-size: 20px;
  font-weight: 400; 
  text-transform: none;
}

.form-commande .form-label {
  margin-bottom: 13px;
  margin-top: 30px;
}

.form-commande input {
  border-radius: 7px;
  width: 383px;
  height: 71px;
  border: none;
}

.form-commande .information {
  border-right: 1px solid #fff;
  padding-right: 45px;
}

.form-commande .livraison {
  padding-left: 45px;
}

.form-command-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 93px;
}

.form-command-submit input[type='submit'] {
  display: flex;
  width: 198px;
  height: 55px;
  padding: 9px 57px 9px 56px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #E0B9B4;
}

/* FOOTER*/

footer{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* RESPONSIVE TABLETTE */

@media screen and (max-width: 1024px){

    /* HEADER*/

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    width: auto;
  }

  #site-title {
    display: none;
  }

  .lien-icone {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .nav-button{
    display: flex;
    flex-direction: row;
  }

  nav{
    display: flex;
    flex-direction: row;
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-style: normal;
    color: #000;
    font-family: Syne;font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a, a:visited {
    color: black;
    text-decoration: none;
  }

  .menu a:hover {
    color: #000;
    font-family: Syne;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .header {
    display: none;
  }


  .command-button {
    background: #DC9F96;
    width: 200px;
    height: 80px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .form-commande {
    display: flex;
    flex-direction: row;
    width: 800x;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 53px;
  }
  
  .form-commande h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700; 
    text-transform: none;
  }
  
  .form-commande label {
    color: #FFF;
    font-size: 20px;
    font-weight: 400; 
    text-transform: none;
  }
  
  .form-commande .form-label {
    margin-bottom: 13px;
    margin-top: 30px;
  }
  
  .form-commande input {
    border-radius: 7px;
    width: 320px;
    height: 50px;
    border: none;
  }
  
  .form-commande .information {
    border-right: 1px solid #fff;
    padding-right: 20px;
  }
  
  .form-commande .livraison {
    padding-left: 20px;
  }
  
  .form-command-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 93px;
  }
  
  .form-command-submit input[type='submit'] {
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E0B9B4;
  }

}

/* RESPONSIVE SMARTPHONE */

@media screen and (max-width: 767px){
      /* HEADER*/

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFF;
        width: auto;
      }
    
      #site-title {
        display: none;
      }
    
      .lien-icone {
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 15px;
        padding-top: 15px;
      }

      .lien-icone img {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
      }
    
      .nav-button{
        display: flex;
        flex-direction: row;
      }
    
      nav{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 15px;

      }
    
      .menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 15px;
        text-decoration: none;
        font-style: normal;
        color: #000;
        font-family: Syne;font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    
      a, a:visited {
        color: black;
        text-decoration: none;
      }
    
      .menu a:hover {
        color: #000;
        font-family: Syne;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    
      .header {
        display: none;
      }
    
    
      .command-button {
        background: #DC9F96;
        width: 100px;
        height: cover;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Syne;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }


  .form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    color: black;
  }
  
  .form-label {
    margin-bottom: 13px;
    margin-top: 22px;
  }
    
  .form-contact input {
    border-radius: 7px;
    width: 200px;
    height: 71px;
    border: none;
  }
  
  textarea {
    border-radius: 7px;
    width: 200px;
    height: 100;
    border: none;
  }
    
  .cta{
    margin-top: 24px;
    margin-bottom: 42px;
    padding-bottom: 30px;
  }
  
  .form-submit input[type='submit'] {
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E0B9B4;
  }
  
  .form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-commande {
    display: flex;
    flex-direction: column;
    width: 700x;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 53px;
  }
  
  .form-commande h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700; 
    text-transform: none;
  }
  
  .form-commande label {
    color: #FFF;
    font-size: 20px;
    font-weight: 400; 
    text-transform: none;
  }
  
  .form-commande .form-label {
    margin-bottom: 13px;
    margin-top: 30px;
  }
  
  .form-commande input {
    border-radius: 7px;
    width: 300px;
    height: 50px;
    border: none;
  }
  
  .form-commande .information {
    border-right: none;
    padding-right: 0px;
  }
  
  .form-commande .livraison {
    padding-left: 0px;
    padding-top: 20px;
  }
  
  .form-command-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 93px;
  }
  
  .form-command-submit input[type='submit'] {
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E0B9B4;
  }


}