.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 383px;
    color: black;
  }

  .form-label {
    margin-bottom: 13px;
    margin-top: 22px;

  }
  
  input {
    border-radius: 7px;
    width: 383px;
    height: 71px;
    border: none;
  }

  textarea {
    border-radius: 7px;
    width: 383px;
    height: 237px;
    border: none;
  }
  
.cta{
    margin-top: 24px;
    margin-bottom: 42px;
    padding-bottom: 30px;
}

  input[type='submit'] {
    width: 198px;
    height: 55px;
    border-radius: 5px;

    background: #E0B9B4;
  }

.form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .form-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    
        width: 310px;
        color: black;
      }
    
      .form-label {
        margin-bottom: 13px;
        margin-top: 22px;
    
      }
      
      input {
        border-radius: 7px;
        width: 310px;
        height: 71px;
        border: none;
      }
    
      textarea {
        border-radius: 7px;
        width: 310px;
        height: 237px;
        border: none;
      }
      
    .cta{
        margin-top: 24px;
        margin-bottom: 42px;
        padding-bottom: 30px;
    }
    
      input[type='submit'] {
        width: 120px;
        height: 55px;
        border-radius: 5px;
    
        background: #E0B9B4;
      }
    
    .form-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}